hyperparameters:
  learning_rate: 0.001
  num_epochs: 700
  batch_size: 16
  input_length: 2500
  seed: 2324235
  l1_lambda: 1.0e-7
  l2_lambda: 1.0e-7
dataset:
  x_train: /mnt/matsubara/signals_sim/master/x_train.npy
  t_train: /mnt/matsubara/signals_sim/master/t_train.npy
training:
  device: cuda:1
  pretrained_path : models/layernorm/weights/model.pth
evaluation:
  target_variables_path: /mnt/matsubara/signals_exp/target_valiables.csv
  processed_dir: /home/smatsubara/documents/airlift/data/experiments/processed/solid_liquid
  save_csv_path: /home/smatsubara/documents/airlift/data/outputs/
  device: cuda:0
  tmp_path: /home/smatsubara/documents/airlift/data/tmp
  results_path: /home/smatsubara/documents/airlift/data/results

hydra:
  run:
    dir: /mnt/matsubara/outputs/${now:%Y-%m-%d}/${now:%H-%M-%S}
  job:
    chdir: false